USE [master]
GO
/****** Object:  Database [Project1]    Script Date: 1/11/2023 11:12:40 AM ******/
CREATE DATABASE [Project1] ON  PRIMARY 
( NAME = N'Project1', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\Project1.mdf' , SIZE = 2240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Project1_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\Project1_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'Project1', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project1]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/11/2023 11:12:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/11/2023 11:12:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CatId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[CatExpLimit] [int] NOT NULL,
	[ExpId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseLimits]    Script Date: 1/11/2023 11:12:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseLimits](
	[ExpLimitId] [int] IDENTITY(1,1) NOT NULL,
	[TotExpLimit] [int] NOT NULL,
	[ExpId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ExpenseLimits] PRIMARY KEY CLUSTERED 
(
	[ExpLimitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 1/11/2023 11:12:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[ExpId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](40) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Amount] [int] NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Expenses] PRIMARY KEY CLUSTERED 
(
	[ExpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccounts]    Script Date: 1/11/2023 11:12:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccounts](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.UserAccounts] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CatId], [Name], [CatExpLimit], [ExpId]) VALUES (1, N'Travel', 1100, 2)
INSERT [dbo].[Categories] ([CatId], [Name], [CatExpLimit], [ExpId]) VALUES (2, N'Shopping', 10000, 1)
INSERT [dbo].[Categories] ([CatId], [Name], [CatExpLimit], [ExpId]) VALUES (3, N'Rent', 10000, 3)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ExpenseLimits] ON 

INSERT [dbo].[ExpenseLimits] ([ExpLimitId], [TotExpLimit], [ExpId]) VALUES (1, 16000, 1)
INSERT [dbo].[ExpenseLimits] ([ExpLimitId], [TotExpLimit], [ExpId]) VALUES (2, 40000, 2)
INSERT [dbo].[ExpenseLimits] ([ExpLimitId], [TotExpLimit], [ExpId]) VALUES (3, 20000, 3)
SET IDENTITY_INSERT [dbo].[ExpenseLimits] OFF
GO
SET IDENTITY_INSERT [dbo].[Expenses] ON 

INSERT [dbo].[Expenses] ([ExpId], [Title], [Description], [Amount], [Category]) VALUES (1, N'Shopping', N'My Shopping is Done.', 1000, N'Shopping')
INSERT [dbo].[Expenses] ([ExpId], [Title], [Description], [Amount], [Category]) VALUES (2, N'Travel', N'Travelling cost so high.', 200, N'Travel')
INSERT [dbo].[Expenses] ([ExpId], [Title], [Description], [Amount], [Category]) VALUES (3, N'Rent', N'I bought rent per room.', 15000, N'Rent')
SET IDENTITY_INSERT [dbo].[Expenses] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAccounts] ON 

INSERT [dbo].[UserAccounts] ([UserId], [FirstName], [LastName], [Email], [UserName], [Password]) VALUES (1, N'Nisha', N'Prajapati', N'nisha@gmail.com', N'Nisha', N'nisha@')
SET IDENTITY_INSERT [dbo].[UserAccounts] OFF
GO
/****** Object:  Index [IX_ExpId]    Script Date: 1/11/2023 11:12:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_ExpId] ON [dbo].[Categories]
(
	[ExpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExpId]    Script Date: 1/11/2023 11:12:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_ExpId] ON [dbo].[ExpenseLimits]
(
	[ExpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.Expenses_ExpId] FOREIGN KEY([ExpId])
REFERENCES [dbo].[Expenses] ([ExpId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.Expenses_ExpId]
GO
ALTER TABLE [dbo].[ExpenseLimits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExpenseLimits_dbo.Expenses_ExpId] FOREIGN KEY([ExpId])
REFERENCES [dbo].[Expenses] ([ExpId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExpenseLimits] CHECK CONSTRAINT [FK_dbo.ExpenseLimits_dbo.Expenses_ExpId]
GO
USE [master]
GO
